.aboutSection {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

.containerINFO {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 960px) {
    .containerINFO {
        padding: 10%;
        font-size: 2.5vh;
    }
}


.titleAbout {
    font-size: 4vh;
    font-weight: 500;
    text-align: left;
    color: #051615;
    transition-duration: 0.4s;
}


@media (max-width: 960px) {
    .titleAbout {
        margin-top: 11vh;
        font-size: 3.5vh;
    }
}

.titleAbout:hover {
    color: #d8ddea;
}

.info {
    margin-top: 2vh;
    font-size: 2.5vh;
    color: #78949f;
    text-align: justify;
    font-weight: 500;
}

@media (max-width: 960px) {
    .info {
        font-size: 2.5vh;
        color: #d8ddea;
    }
}

.info2 {
    margin-top: 2vh;
    font-size: 2.5vh;
    color: #d8ddea;
    text-align: justify;
}

@media (max-width: 960px) {
    .info2 {
        font-size: 2.5vh;
        color: #78949f;
        margin-bottom: 3vh;
    }
}

.bunda {
    border: none;
    margin: 0;
    padding: 0;
}

.bundaText {
    color: #d8ddea;
    transition-duration: 0.4s;
}

.bundaText:hover {
    color: #78949f;
}

.importantText {
    color: #d8ddea;
    transition-duration: 0.4s;
}

.importantText:hover {
    text-decoration: underline;
}

.containerLists {
    padding: 1%;
}

.titleList {
    font-size: 2.3vh;
    color: #d8ddea;
    text-align: center;
}

.listItem {
    color: #78949f;
    margin-bottom: 3%;
}

.listLanguage {
    color: #d8ddea;
    font-weight: 500;
}

.listLanguageDescription {
    color: #78949f;
}

.fotoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.foto {
    border-radius: 10em;
    height: 75vh;
}

@media (max-width: 960px) {
    .foto {
        border-radius: 10em;
        height: 50vh;
    }
}