.aboutSection {
    width: 100%;
    height: 100vh;
}

.titleAbout {
    margin-top: 11vh;
    font-size: 4vh;
    font-weight: 500;
    text-align: left;
    color: #051615;
    transition-duration: 0.4s;
}

.titleAbout:hover {
    color: #d8ddea;
}

.info {
    margin-top: 2vh;
    font-size: 2.5vh;
    color: #78949f;
    text-align: justify;
    font-weight: 500;
}

.info2 {
    margin-top: 2vh;
    font-size: 2.5vh;
    color: #d8ddea;
    text-align: justify;
}

.bunda {
    border: none;
    margin: 0;
    padding: 0;
}

.bundaText {
    color: #d8ddea;
    transition-duration: 0.4s;
}

.bundaText:hover {
    color: #78949f;
}

.importantText {
    color: #d8ddea;
    transition-duration: 0.4s;
}

.importantText:hover {
    text-decoration: underline;
}

.containerLists {
    padding: 1%;
}

.titleList {
    font-size: 2.3vh;
    color: #d8ddea;
    text-align: center;
}

.listItem {
    color: #78949f;
    margin-bottom: 3%;
}

.listLanguage {
    color: #d8ddea;
    font-weight: 500;
}

.listLanguageDescription {
    color: #78949f;
}

.foto {
    border-radius: 10em;
    height: 75vh;
    margin-top: 15vh;
    margin-left: 10vh;
    z-index: -1;
}

/** Mobile css */

.aboutSectionMobile {
    width: 100%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.titleAboutMobile {
    margin-top: 13vh;
    font-size: 3.5vh;
    color: #051615;
    margin: 1vh;
}

.infoMobile {
    font-size: 2.5vh;
    color: #d8ddea;
    margin: 1vh;
}

.infoMobile2 {
    font-size: 2.5vh;
    color: #78949f;
    margin: 1vh;
    margin-bottom: 3vh;
}

.fotoMobile {
    border-radius: 10em;
    height: 30vh;
}


