.containerContact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.titleContact {
    font-size: 6vh;
    font-weight: 500;
    color: #d8ddea;
}

@media (max-width: 960px) {
    .titleContact {
        font-size: 4vh;
        font-weight: 500;
        color: #d8ddea;
    }
}


.paragraphContact {
    font-size: 3vh;
    color: #78949f;
}

@media (max-width: 960px) {
    .paragraphContact {
        padding-right: 10%;
        padding-left: 10%;
        font-size: 2.5vh;
        color: #78949f;
    }
}

.buttonsContact {
    border: none;
    margin-top: 3vh;
}

.contactContact {
    border: solid #d8ddea;
    border-radius: 0.5em;
    transition-duration: 0.4s;
    color: #d8ddea;
    font-size: 3vh;
    text-decoration: none;
    padding: 1vh;
}

.contactContact:hover {
    background-color: #d8ddea;
    color: #78949f;
}