.headerButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 10vh;
}

.buttons {
    color: #78949f;
    font-weight: 500;
    border: none;
    font-size: 3vh;
    transition-duration: 0.4s;
    position: relative;
}

.buttonResumeB {
    border: none;
}

.buttonResume {
    border: solid;
    border-radius: 0.5em;
    color: #d8ddea;
    font-size: 3vh;
    font-weight: 500;
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 5%;
}

.buttons:hover {
    color: white;
}

.buttonResume:hover {
    background-color: #d8ddea;
    color: #78949f;
    border: solid #d8ddea;
}