.carrouselContainer{
    width: 100%;
    position: relative;
    padding-top: 5vh;
}

.projectsTitle {
    color: #d8ddea;
    text-align: center;
    font-size: 6vh;
    font-weight: 500;
}

.goToGithubRepo {
    color: #78949f;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
}

.Carousel {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#projects {
    bottom: 0;
}

.imageCarousel {
    width: 50%;
    margin-bottom: 1%;
    transition-duration: 0.4s;
    opacity: 1;
}

@media (max-width: 960px) {
    .imageCarousel {
        width: 100%;
    }
}

.imageCarousel:hover {
    opacity: 0.7;
}

.textCarrousel {
    font-size: 3vh;
    color: #d8ddea;
    transition: all 0.3s ease;
    margin: 5vh;
}

.buttonProject {
    border: none;
    width: 100%;
}