.sidebar {
    right: 0;
    bottom: 0;
    max-height: 60vh;
    top: 50vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 960px) {
    .sidebar {
        position: absolute;
        height: 100vh;
        padding-top: 40%;  
        padding-left: 5%;
        padding-right: 5%;
        display: none;
    }
}

.icons {
    transition-duration: 0.4s;
}

.icons:hover {
    color: white;
}

.verticalLine {
    margin-top: 15%;
    margin-bottom: 15%;
    border-left: 3px solid #d8ddea;
    height: 20%;
}

.buttonsSidebar {
    border: none;
}


