* {
  background-color: #18434e;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}


.projectsID {
  margin-top: 10vh;
}

.updatesID {
  margin-top: 10vh;
}